<a href="https://colab.research.google.com/github/Sedhuraman99/python-basics-practise/blob/main/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python was developed by guido van rossum in 1989 at NRI(national research institute) netherlands .python officially introduced in 1991 .the name python is derived from the monty python circus program in bbc channel .it is a high level general purpose language . python is a interpreter language . interpreter means word by word translater. python is developed from c and abc .python supports number 0f paradigms including procedure oriented language,functional language,object oriented language,scripting language,modular programming

Features of python
1. simple and easy
2.free,open source
3.high level programming language
4.object oriented programming and procedure oriented programming
5.platform independent
6.portabilty
7.dynamically typed ,robust
8.interpreted language
9.embedded language
10.extensible language

Advantage of python

1. python is used in machine learning 
2.web framework like flask,django

Disadvantage of python

1. it cant create mobile app

In [ ]:
5+5

10

In [ ]:
5-5

0

In [ ]:
5*5

25

In [ ]:
5*(10+2)

60

In [ ]:
80/4

20.0

In [ ]:
80//4

20

In [ ]:
2*3

6

In [ ]:
2**3

8

In [ ]:
8/4

2.0

In [ ]:
8%4

0

In [ ]:
width = 20
height = 10+20
height * width

600

In [ ]:
tamil,english,maths = 70,80,75
print(tamil+english+maths)

225

In [ ]:
salary = 500000
tax = salary*(10/100)
tax

50000.0

In [ ]:
#underscore will take last value
tax + _

100000.0

In [ ]:
int(tax)

50000

In [ ]:
product_rate = 121.99
quantity = 4.5
t = product_rate * quantity
t

548.9549999999999

In [ ]:
print(round(_,2))

548.95

In [ ]:
print(round(t))

549

In [ ]:
print(round(t,3))

548.955

In [ ]:
# python keywords
#True,False,None,and,or,not,is,in,if,elif,else,while,for,break,pass,continue,yield,try,except,raise,assert,import,from,as,class,return,def,global,nonlocal,lambda,del,with,async,await,finally

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
mark = 100
type(mark)

int

In [ ]:
mark = 100.0
type(mark)

float

In [ ]:
indian = True
type(indian)

bool

In [ ]:
#datatypes in python
#int,float,complex,bool,str,list,tuple,set,frozenset,dict,bytes,bytearray,range,None

In [ ]:
#binary to decimal
value = 0b1111
print(value)

15

In [ ]:
#octa to decimal
value = 0o12345
value

5349

In [ ]:
#hexa to decimal
value = 0x1234
value

4660

In [ ]:
#hexa to decimal
value = 0x1abc
value

6844

decimal to others

In [ ]:
print(bin(10))

0b1010

In [ ]:
print(oct(10))

0o12

In [ ]:
print(hex(10))

0xa

In [ ]:
#e3 = 10**3
num = 5.6e3
num

5600.0

In [ ]:
num = 5.6e5
num

560000.0

In [ ]:
#complex datatype will end with j
p = 5+6j

In [ ]:
print(p.real)

5.0

In [ ]:
print(p.imag)

6.0

In [ ]:
bool

bool

In [ ]:
mark1 = 90
mark2 = 80
print(mark1==mark2)

False

In [ ]:
print(True+True)

2

In [ ]:
print(False+False)

0

In [ ]:
print(False+True)

1

In [ ]:
print(False+True)

1

In [ ]:
print('sedhu')

sedhu

In [ ]:
name = 'sedhu'
name

'sedhu'

In [ ]:
address = '''spkovil 
saisri
varinagar'''
address

'spkovil \nsaisri\nvarinagar'

In [ ]:
address = '''spkovil 
saisri
varinagar'''
print(address)

spkovil
saisri
varinagar

In [ ]:
sent = 'sedhu.\nspkovil\ntamilnadu'
print(sent)

sedhu.
spkovil
tamilnadu

In [ ]:
sent = "sedhu doing 'python'"
print(sent)

sedhu doing 'python'

In [ ]:
sent = ''''sedhu' doing "python"'''
print(sent)

'sedhu' doing "python"

In [ ]:
#upload file
sent = r'sedhu.\nspkovil\ntamilnadu'
print(sent)

sedhu.\nspkovil\ntamilnadu

In [ ]:
sent = 'sedhu\tspkovil\ttamilnadu'
print(sent)

sedhu	spkovil	tamilnadu

In [ ]:
name = 'sedhu'
name.upper()

'SEDHU'

In [ ]:
name = 'SEDhu'
name.lower()

'sedhu'

In [ ]:
sent = 'sedhu reading book'
sent.title()

'Sedhu Reading Book'

In [ ]:
print(sent[0])

s

In [ ]:
sent[0]

's'

In [ ]:
sent[-2]

'o'

In [ ]:
sent[0:5]

'sedhu'

In [ ]:
sent[:13]

'sedhu reading'

In [ ]:
sent[5:]

' reading book'

In [ ]:
sent[:]

'sedhu reading book'

In [ ]:
sent[-1:]

'k'

In [ ]:
sent[-4:]

'book'

In [ ]:
sent[-12:-5]

'reading'

In [ ]:
sent[0:-5]

'sedhu reading'

In [ ]:
sent[::2]

'sduraigbo'

In [ ]:
print(sent[0:5].upper())

SEDHU

In [ ]:
print(sent[5:])

 reading book

In [ ]:
print(sent[0:5].upper()+sent[5:])

SEDHU reading book

In [ ]:
len(sent)

18

In [ ]:
print(sent[0].upper()+sent[1:len(sent)-1]+sent[-1].upper())

Sedhu reading booK

In [ ]:
print('ab'+'cd')

abcd

In [ ]:
print('ab'+'9')

ab9

In [ ]:
print('ab '+'9')

ab 9

In [ ]:
print('ab '* 9)

ab ab ab ab ab ab ab ab ab

In [ ]:
'ab '* 9

'ab ab ab ab ab ab ab ab ab '

In [ ]:
name = 'sedhu'
'e' in name

True

In [ ]:
'k' in name

False

In [ ]:
first = 100
second = 50.5
total = first+second

In [ ]:
total

150.5

In [ ]:
avg = total/2
avg

75.25

In [ ]:
print(int(avg))

75

In [ ]:
print('your average is '+ str(avg))

your average is 75.25

In [ ]:
print('your average is', avg)

your average is 75.25

In [ ]:
a = 1
bool(a)

True

In [ ]:
a = 0
bool(a)

False

In [ ]:
a = 1234
bool(a)

True

In [ ]:
a = True
int(a)

1

In [ ]:
a = True
float(a)

1.0

In [ ]:
a = 'asdf'
bool(a)

True

In [ ]:
a = ''
bool(a)

False

In [ ]:
complex(5,5)

(5+5j)

In [ ]:
complex(5)

(5+0j)

In [ ]:
complex(True,True)

(1+1j)

In [ ]:
mark = int(input('enter your mark: '))
if mark>80:
  print('good')
elif mark>60:
  print('better')
else:
  print('parctise well')

enter your mark: 66
better

In [ ]:
mark1 = int(input('enter your mark one: '))
mark2 = int(input('enter your mark two: '))
if mark1==mark2:
  print('both are same')
elif mark1<mark2:
  print('mark2 is greater than mark1')
else:
  print('mark1 is greater than mark2')

enter your mark one: 77
enter your mark two: 90
mark2 is greater than mark1

converting .py program into byte is known as interpreting time and converting byte code into binary code is known as running time or execution time

In [ ]:
#nested if
age = int(input('please enter your age: '))
citizen = input('please enter your nationality: ').lower()
if age >=5:
  if citizen == 'indian':
    print('you are eligible for aadhar')
  else:
    print('other nationalities are not eligible for aadhar') 
else:
  print('minimum age critirea is 5yrs old')

please enter your age: 4
please enter your nationality: indian
minimum age critirea is 5yrs old

In [1]:
age = int(input('please enter your age: '))
if age >=5:
  citizen = input('please enter your nationality: ').lower()
  if citizen == 'indian':
    print('you are eligible for aadhar')
  else:
    print('other nationalities are not eligible for aadhar') 
else:
  print('minimum age critirea is 5yrs old')

please enter your age: 4
minimum age critirea is 5yrs old

In [ ]:
word = input('please enter your name: ')
print(sorted(word))

please enter your name: sedhu
['d', 'e', 'h', 's', 'u']

In [ ]:
word = input('please enter your name: ')
print(sorted(word))

please enter your name: vicky
['c', 'i', 'k', 'v', 'y']

In [ ]:
word1 = sorted(input())
word2 = sorted(input())
word3 = sorted(input())
if word1==word2 and word2==word3:
  print('all are same')
else:
  print('not same')

come on
come on
go on
not same

In [ ]:
mind = 11
guess = int(input('guess a number between 1 and 20: '))
if mind==guess:
  print('your guess is right')
elif guess<mind:
  print('your guess is lesser')
elif guess>mind:
  print('your guess is higher')

guess a number between 1 and 20: 10
your guess is lesser

In [ ]:
mind = 13
match_not_found = True
while match_not_found == True:
  guess = int(input('guess a num between 1 and 20: '))
  if mind==guess:
    print('well done,your guess is right')
    match_not_found = False
  elif guess<mind:
    print('your guess is lower')
  else:
    print('your guess is higher')

guess a num between 1 and 20: 11
your guess is lower
guess a num between 1 and 20: 12
your guess is lower
guess a num between 1 and 20: 13
well done,your guess is right

In [ ]:
#printing 0 to 5
num = 0
while num<=5:
  print(num)
  num = num+1

0
1
2
3
4
5

In [ ]:
#printing in descending order
last = int(input('enter the number: '))
while last >0:
  print(last)
  last = last-1

enter the number: 10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#printing in ascending order
first = 1
last = int(input('enter the number: '))
while first<=last:
  print(first)
  first= first+1

enter the number: 6
1
2
3
4
5
6

In [ ]:
first = 0
while first<=10:
  print(first)
  first=first+2

0
2
4
6
8
10

In [ ]:
first = 0
while first<=10:
  print(first)
  first=first+3

0
3
6
9

In [ ]:
first = 1
last = 20
while first<=last:
  if (first%3) == 0:
    print(first)
  first = first+1

3
6
9
12
15
18

In [ ]:
first = 1
while first<=30:
  print(first)
  first=first*3

1
3
9
27

In [ ]:
first = 1
last = 30
while first<=last:
  if (first%3) == 0 and (first%2) == 0:
    print(first)
  first = first+1

6
12
18
24
30

In [ ]:
num = 1
last = 100
total = 0
while num<=last:
  total = total + num
  num = num+1
print(total)

5050

In [ ]:
num = 1
last = 100
total = 1
while num<=last:
  total = total * num
  num = num+1
print(total)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
number = 0
while number<10:
  number = number+1
  if number==5:
    break
  print(number)

1
2
3
4

In [ ]:
number = 0
while number<10:
  number = number+1
  if number==5:
    continue
  print(number)

1
2
3
4
6
7
8
9
10

In [ ]:
word = input('enter any word: ')
num = 0
while num <len(word):
  print(word[num])
  num = num+1
print(num)

enter any word: sedhu
s
e
d
h
u
5

In [ ]:
word = input('enter the word: ')
num = 0
while num<len(word):
  if word[num]== 'a'or word[num]=='e'or word[num]=='i'or word[num]=='o'or word[num]=='u':
    print(word[num])
  num = num+1

enter the word: sedhu
e
u

In [ ]:
word = input('enter the word: ')
num = 0
count = 0
while num<len(word):
  if word[num].lower() in ['a','e','i','o','u']:
    print(word[num])
    count = count+1
  num = num+1
print('no.of vowels:',count)

enter the word: sedhu
e
u
no.of vowels: 2

In [ ]:
no = 1
while no<5:
  print(no)
  no = no+1
else:
  print('hi',no)

1
2
3
4
hi 5

In [ ]:
name = 'kumaran'
person = input('enter your name: ').lower()
if name==person:
  print('you are welcome')
else:
  print('sorry you are not the person')

enter your name: kumar
sorry you are not the person

In [ ]:
name = 'kumaran'
person = ''
while name!=person:
  person = input('please tell your name: ').lower()
else:
  print('you are welcome')

please tell your name: suresh
please tell your name: kumaran
you are welcome

In [ ]:
name = 'kumaran'
i = 0
while i <len(name):
  print(name[i],end='-')
  i = i+1

k-u-m-a-r-a-n-

In [ ]:
name = 'kumaran'
i = 0
while i <len(name):
  print(name[i],end='')
  i = i+1

kumaran

In [ ]:
num = 5
mul_num = 1
while mul_num<=10:
  print('5*',mul_num,'=',num*mul_num)
  mul_num+=1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
no_of_sub = int(input('enter your subjects: '))
total = 0
subject_count = 0
while subject_count<no_of_sub:
  mark = int(input('please tell your mark: '))
  total = total+mark
  subject_count=subject_count+1
print('your total is',total)
print('average of your total is',total/no_of_sub)

enter your subjects: 4
please tell your mark: 67
please tell your mark: 56
please tell your mark: 70
please tell your mark: 59
your total is 252
average of your total is 63.0

In [ ]:
count = 1
while count<=5:
  print(count,count,count,count,count)
  count+=1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
count = 0
while count<5:
  count+=1
  print(count,end='')

12345

In [ ]:
count = 1
while count<=5:
  print(1, end='')
  count+=1

11111

In [ ]:
terms = 1
while terms<=5:
  count = 1
  while count<=5:
    print(1, end='')
    count+=1
  print()  
  terms+=1

11111
11111
11111
11111
11111

In [ ]:
terms = 1
while terms<=5:
  count = 1
  while count<=5:
    print(count, end='')
    count+=1
  print()  
  terms+=1

12345
12345
12345
12345
12345

In [ ]:
row = 1
while row<=5:
  column = 1
  while column<=5:
    print(row, end='')
    column+=1
  print()  
  row+=1

11111
22222
33333
44444
55555

1. inner loop deciding the columns
2.outer loop deciding the rows

In [ ]:
row = 1
while row<=5:
  column = 1
  while column<=row:
    print(row, end='')
    column+=1
  print()  
  row+=1

1
22
333
4444
55555

In [ ]:
row = 1
while row<=5:
  column = 1
  while column<=row:
    print(column, end='')
    column+=1
  print()  
  row+=1

1
12
123
1234
12345

In [ ]:
row = 1
value = 65
while row<=5:
  column = 1
  while column<=row:
    print(chr(value), end='')
    value+=1
    column+=1
  print()  
  row+=1

A
BC
DEF
GHIJ
KLMNO

In [ ]:
row = 1
while row<=5:
  column = 1
  value = 65
  while column<=row:
    print(chr(value), end='')
    column+=1
    value+=1
  print()
  row+=1

A
AB
ABC
ABCD
ABCDE

In [ ]:
row = 1
value = 1
while row<=5:
  column = 1
  while column<=row:
    print(value, end='')
    value+=1
    column+=1
  print()  
  row+=1

1
23
456
78910
1112131415

In [ ]:
row = 1
value = 65
while row<=5:
  column = 1
  while column<=row:
    print(chr(value), end='')
    column+=1
  print()
  value+=1  
  row+=1

A
BB
CCC
DDDD
EEEEE

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
total = 0
for i in range(101):
  total = total+i

print(total)

5050

In [ ]:
total = 0
num = int(input('any nymber: '))
for i in range(num+1):
  total = total+i

print(total)

any nymber: 5
15

In [ ]:
total = 0
for i in range(5,10+1):
  total = total+i

print(total)

45

In [ ]:
for i in range(0,31,5):
  print(i)

0
5
10
15
20
25
30

In [ ]:
for i in range(0,30,-5):
  print(i)

In [ ]:
for i in range(10,1):
  print(i)

In [ ]:
for i in range(6,0,-1):
  print(i)

6
5
4
3
2
1

In [ ]:
for i in range(10):
  print(3*(i))

0
3
6
9
12
15
18
21
24
27

In [ ]:
for i in range(10):
  print(2*(i))

0
2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
start = int(input('start: '))
end = int(input('end: ' ))
for i in range(start,end+1):
  print(i)

start: 2
end: 8
2
3
4
5
6
7
8

In [ ]:
word = 'malayalam'
word[::-1]

'malayalam'

In [ ]:
word = 'malayalam'
word2 = word[::-1]
if word==word2:
  print('its a palindrome')
else:
  print('word is not a palindrome')

its a palindrome

In [ ]:
word = input('enter the word: ')
word2 = word[::-1]
if word==word2:
  print('its a palindrome')
else:
  print('word is not a palindrome')

enter the word: liril
its a palindrome

In [ ]:
sent = 'god is great'
for words in sent:
  print(words)

g
o
d

i
s

g
r
e
a
t

In [ ]:
sent = 'god is great'
for words in sent:
  print(words, end='')

god is great

In [ ]:
sent = 'god is great'
for words in sent:
  if words in ['a','e','i','o','u']:
    print(words, end='')

oiea

In [ ]:
sent = input('enter the word: ')
no_of_words = 1
for words in sent:
  if words == ' ':
    no_of_words+=1
print('num of words:',no_of_words)

enter the word: lets go for shopping
num of words: 4

In [ ]:
sent = 'today"s date is 13,day is sunday'
no_of_words = 1
for words in sent:
  if words in [',','.']:
    no_of_words+=1
print('num of sentence:',no_of_words)

num of sentence: 2

In [ ]:
for i in range(ord('A'),ord('Z')+1):
  print(chr(i), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
for i in [1,2,3]:
  pass
  print('vanakkam',i)

vanakkam 1
vanakkam 2
vanakkam 3

In [ ]:
for i in [1,2,3]:
  pass
print('vanakkam',i)

vanakkam 3

In [ ]:
word = input('enter the word: ')
length = len(word)
count_of_alpha = 0
count_of_num = 0
count_of_sc = 0

if length<8:
  print('password shouldbe atleat 8 characters')
else:
  for letter in range(length):
    if(word[letter]>='A' and word[letter]<='z'):
      count_of_alpha+=1
    elif(word[letter]>='0' and word[letter]<='9'):
      count_of_num+=1
    else:
      count_of_sc+=1    

  print('count of alphabets',count_of_alpha)    
  print('count of numbers',count_of_num)
  print('count of special charac',count_of_sc)

enter the word: sedhusmartz@gmail.com
count of alphabets 19
count of numbers 0
count of special charac 2

In [ ]:
word = input('enter the word: ')
length = len(word)
count_of_alpha = 0
count_of_num = 0
count_of_sc = 0

if length<=7:
  print('password shouldbe atleat 8 characters')
else:
  for letter in range(length):
    if(word[letter].isalpha()):
      count_of_alpha+=1
    elif(word[letter].isdigit()):
      count_of_num+=1
    else:
      count_of_sc+=1    

  print('count of alphabets',count_of_alpha)    
  print('count of numbers',count_of_num)
  print('count of special charac',count_of_sc)

enter the word: sedhusmartz@gmail.com
count of alphabets 19
count of numbers 0
count of special charac 2

In [ ]:
word = input('enter any word: ')

for i in range(len(word)):
  print(word[i], end='')
print()  
for i in range(len(word)-1):
  print(word[i], end='')
print()    
for i in range(len(word)-2):
  print(word[i], end='')
print()

enter any word: bingo
bingo
bing
bin

In [ ]:
word = input('enter any word: ')
count = len(word)
for terms in range(count):
  for i in range(count):
    print(word[i], end='')
  print()
  count-=1

enter any word: bingo
bingo
bing
bin
bi
b

In [ ]:
word = input('enter any word: ')
count = len(word)
for terms in range(count):
  for i in range(count):
    print(chr(i+65), end='')
  print()
  count-=1

enter any word: bingo
ABCDE
ABCD
ABC
AB
A

In [ ]:
word = 'beckham'
count = len(word)
for terms in range(count):
  for i in range(count):
    print('#', end='')
  for star in range(terms+1):
    print('*',end='')
  print()
  count-=1

#######*
######**
#####***
####****
###*****
##******
#*******

In [ ]:
word = 'beckham'
count = len(word)
for terms in range(count):
  for i in range(count):
    print(' ', end='')
  for hashh in range(terms+1):
    print('* ',end='')
  print()
  count-=1

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [ ]:
word = 'beckham'
count = len(word)
for terms in range(count):
  for i in range(count):
    print(' ', end=' ')
  for hashh in range(terms+1):
    print(chr(hashh+65),end=' ')
  print()
  count-=1

              A
            A B
          A B C
        A B C D
      A B C D E
    A B C D E F
  A B C D E F G

In [ ]:
word = 'beckham'
count = len(word)
for terms in range(count):
  for i in range(count):
    print(' ', end=' ')
  for hashh in range(terms+1):
    print(i,end=' ')
  print()
  count-=1

              6
            5 5
          4 4 4
        3 3 3 3
      2 2 2 2 2
    1 1 1 1 1 1
  0 0 0 0 0 0 0

In [ ]:
#immutable
#whenever we change any new value for a variable, the existing value present in a particular memory address will not get changed. instead ,it will create new memory address,
#so the memory address of the specific value remains the same for many variables also
house_no = 10
print(id(house_no))
house_no = 12
print(id(house_no))

11531200
11531264

In [ ]:
house_no = 10
print(id(house_no))
house_no1 = 10
print(id(house_no))

11531200
11531200

In [ ]:
#there is no change in old memory address, but will create new memory address and disable the old memory address
mark = 0
print(id(mark))
mark =1
print(id(mark))

11530880
11530912

In [ ]:
captain = 'msdhoni'
print(id(captain))
captain = 'virat'
print(id(captain))

139981634216880
139981634127280

In [ ]:
#immutability = efficient memory management,performance of the program is increased
captain = 'msdhoni'
print(id(captain))
captain1 = 'msdhoni'
print(id(captain))

139981634219504
139981634219504

In [ ]:
# 'is' compare the memory address, '=' compare the value of the given identifier
# str,int,float,bool,complex,byte is immutable
#memory address will not change if the values are same and viriables are differnet
house_no1 = 10
house_no2 = 10
print(house_no1 is house_no2)
print(house_no1 == house_no2)

True
True

In [ ]:
#list
name = 'python'
'j'+name[1:]

'jython'

In [ ]:
#compound datatypes is mutable datatype, mutable means no change in memory address
house_no = [10,11]
print(id(house_no))
house_no[0] = 12
print(id(house_no))

140027495210240
140027495210240

In [ ]:
#list - [],separated by comma,accepts homo and hetro,list can contain n number of elements, list maintain insertion order,[] used it list
name = ['raja','vimal','vijay',123,5.6,True]
print(id(name))
name[0] = 'kamal'
print(id(name))
print(name)

140027495519680
140027495519680
['kamal', 'vimal', 'vijay', 123, 5.6, True]

In [ ]:
lst = [23,36,64,25,88]
lst[-1]

88

In [ ]:
lst[0]

23

In [ ]:
lst[2]

64

In [ ]:
lst[:]

[23, 36, 64, 25, 88]

In [ ]:
lst[0:3]

[23, 36, 64]

In [ ]:
lst[-5:]

[23, 36, 64, 25, 88]

In [ ]:
lst + [1,2,3,4,5]

[23, 36, 64, 25, 88, 1, 2, 3, 4, 5]

In [ ]:
[23,36,64,25,88] + [23,36,64,25,88]

[23, 36, 64, 25, 88, 23, 36, 64, 25, 88]

In [ ]:
lst.append(99)
lst

[23, 36, 64, 25, 88, 99]

In [ ]:
lst[1:3] = [11,22]
lst

[23, 11, 22, 25, 88, 99]

In [ ]:
lst.append([9])

In [ ]:
lst

[23, 11, 22, 25, 88, 99, [9]]

In [ ]:
lst[0]

23

In [ ]:
letters = ['a','b','c','d']

In [ ]:
letters[1] = 'B'
letters

['a', 'B', 'c', 'd']

In [ ]:
letters[2:4] = ['C','D']
letters

['a', 'B', 'C', 'D']

In [ ]:
len(letters)

4

In [ ]:
letters[:] = []
letters

[]

In [ ]:
alpha = ['a','b','c']
num = [1,2,3]
both = [alpha,num]#comma will giv two seperate list inside a single list ,+ will add two list into one

In [ ]:
len(alpha)

3

In [ ]:
type(alpha)

list

In [ ]:
type(alpha[0])

str

In [ ]:
alpha[0]

'a'

In [ ]:
both

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
both[0]

['a', 'b', 'c']

In [ ]:
both[0][0]

'a'

In [ ]:
type(alpha)

list

In [ ]:
type(num[0])

int

In [ ]:
type(both)

list

In [ ]:
len(both)

2

In [ ]:
alpha = ['a','b','c']
for item in alpha:
  print(item, end=' ')

a b c

In [ ]:
alpha = ['a','b','c']
for item in alpha:
  if item in ['a','e','i','o','u']:
    print(item, end=' ')

a

In [ ]:
both

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
for item in both:
  print(item, end=' ')

['a', 'b', 'c'] [1, 2, 3]

In [ ]:
for item in both:
  for all in item:
    print(all, end=' ')

a b c 1 2 3

In [ ]:
both = [[1,2,3],[4,5,6],[7,8,9]]
for item in both:
  for all in item:
    print(all, end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
both = [[1,2,3],[4,5,6],[7,8,9]]
for all in both:
  print(all, end=' ')

[1, 2, 3] [4, 5, 6] [7, 8, 9]

In [ ]:
both = [[1,2,3],[4,5,6],['a','b',5]]
for item in both:
  for all in str(item):
    if all.isalpha():
      print(all, end=' ')

a b

In [ ]:
alpha = ['c','a','b','c']
num = [2,3,4,1]
both = [alpha,num]
lst = 0
while lst <len(both):
  item = 0
  while item<len(both[lst]):
    print(both[lst][item], end=' ')
    item+=1
  lst+=1

c a b c 2 3 4 1

In [ ]:
alpha = ['c','a','b','c']
num = [2,3,4,1]
both = [alpha,num]
print(both)
lst = 0
while lst <len(both):
  item = 0
  while item<len(both[lst]):
    print(both[lst][item], end='')
    item+=1
  print()
  lst+=1

[['c', 'a', 'b', 'c'], [2, 3, 4, 1]]
cabc
2341

In [ ]:
alpha = ['c','a','b','c']
num = [2,3,'c',1]
both = [alpha,num]
li = 0
while li <len(both):
  item = 0
  while item<len(both[li]):
    if(type(both[li][item])==str):
      print(both[li][item], end='')
    item+=1
  print()
  li+=1

cabc
c

In [ ]:
alpha = ['c','prabhua','bpd','c']
num = [2,3,'praveen',1]
all = ['prashanth','v',2]
both = [alpha,num,all]
li = 0
while li <len(both):
  item = 0
  while item<len(both[li]):
    if(type(both[li][item])==str):
      if(both[li][item])[0]=='p':  
        print(both[li][item], end='')
    item+=1
  print()
  li+=1

prabhua
praveen
prashanth

In [ ]:
alpha = ['a','b','c','c']
num = [1,2,3,4]
both = [alpha,num]
li=0
while li<len(both):
  item = 0
  while item < len(both[li]):
    if li == 1 and item == 1:
      both[li][item] ='check'
    item+=1
  print()   
  li+=1
print(both)

[['a', 'b', 'c', 'c'], [1, 'check', 3, 4]]

In [ ]:
alpha = ['c','a','b','c']
num = [2,'v','c',1]
both = [alpha,num]
lst = 0
for i in range(len(both)):
  for j in range(len(both[lst])):
    if i == 1 and j == 1:
      both[i][j]='check'
print(both)

[['c', 'a', 'b', 'c'], [2, 'check', 'c', 1]]

In [ ]:
alpha = ['c','a','b','c']
alpha.remove('c')
alpha

['a', 'b', 'c']

In [ ]:
number = int(input("Tell us the number "))
squares=[] 
for i in range(1, number+1):
  squares.append(i**2) #squares.append(i**2)
squares

Tell us the number 4

[1, 4, 9, 16]

In [ ]:
studentdetails = []
studentcount = int(input('good morning sir,''please tell your class student strength: '))

for student in range(studentcount):
  name, age, percentage = input('enter students name,age,percentage seperated by space: ').split()
  studentdetails.append(name)
  studentdetails.append(age)
  studentdetails.append(percentage)

count = 1
print()
print('studentname',' studentage', end = ' ')
print()
print('--------------------------')
for i in studentdetails:
  if count%3 == 0:
    if int(i)>=75:
      print(studentdetails[count-3], ',        ',
      studentdetails[count-2])
  count+=1

good morning sir,please tell your class student strength: 3
enter students name,age,percentage seperated by space: vimal 21 70
enter students name,age,percentage seperated by space: vijay 21 75
enter students name,age,percentage seperated by space: vinai 21 80

studentname  studentage
--------------------------
vijay ,         21
vinai ,         21

In [ ]:
square = [i**2 for i in range(1,6)]
square

[1, 4, 9, 16, 25]

In [ ]:
fruits = ['apple','orange','banana','apple','kiwi']
fruits.count('apple')
if fruits.count('apple')>1:
  fruits.remove('apple')
fruits

['orange', 'banana', 'apple', 'kiwi']

In [ ]:
fruits = ['apple','orange','banana','apple','kiwi']
fruits.count('apple')
fruits.reverse()
if fruits.count('apple')>1:
  fruits.remove('apple')
fruits.reverse() 
fruits

['apple', 'orange', 'banana', 'kiwi']

In [ ]:
fruits.insert(2, 'papaya')
fruits

['apple', 'orange', 'papaya', 'banana', 'kiwi']

In [ ]:
i = fruits.index('apple')
i

0

In [ ]:
fruits = ['apple','orange','banana','apple','kiwi','apple']
i = fruits.index('apple',3)
i

3

In [ ]:
#list and tuple are somehow similar
#list is mutable,tuple is immutable
#tuple doesnt have append,remove functions
#tuple is more efficient/effective than list
#() used for tuple

In [ ]:
t = ()
print(type(t))

<class 'tuple'>

In [ ]:
t = (5)
print(type(t))

<class 'int'>

In [ ]:
t = (5,)
print(type(t))

<class 'tuple'>

In [ ]:
t = 5,
print(type(t))

<class 'tuple'>

In [ ]:
alpha = ('a','b','c')
item = 0
while item < len(alpha):
  print(alpha[item], end=' ')
  item+=1

a b c

In [ ]:
for x in alpha:
   print(x, end= ' ')

a b c

In [ ]:
tuple1 = ('a','b','c')
tuple2 = (1,2,3)
tuples = tuple1,tuple2
tuples

(('a', 'b', 'c'), (1, 2, 3))

In [ ]:
tuple1 = ('a','b','c')
tuple2 = (1,2,3)
tuples = tuple1+tuple2
tuples

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#tuple packing
t = 10,20,30
t

(10, 20, 30)

In [ ]:
#sequence unpacking
no1,no2,no3 = t
no1

10

In [ ]:
#list,tuple,range are sequence datatypes (same order)

In [ ]:
#set
#no duplicates allowded in set
#no indexing in possible in set,no sequence
#no slicing coz no indexing
#set is also homo,hetro
#mutable
#{} used for set

In [ ]:
values = {'arul', 'mukil', 123, True}
print(values)
type(values)

{'mukil', 'arul', 123, True}

set

In [ ]:
values = {'arul', 'mukil', 123, True,'arul'}
print(values)

{'mukil', 'arul', 123, True}

In [ ]:
#append() func only used in list, add() func can use all datatypes, insert() will add in specific index
values.add(50)
values

{123, 50, True, 'arul', 'mukil'}

In [ ]:
values.remove(True)
values

{123, 50, 'arul', 'mukil'}

In [ ]:
values.pop()

'mukil'

In [ ]:
values

{123, 50, 'arul'}

In [ ]:
for i in values:
  print(i)

50
arul
123

In [ ]:
#when there in no values in set ,it will take it as dict
values={} 
print(type(values))

<class 'dict'>

In [ ]:
values = set()
print(type(values))

<class 'set'>

In [ ]:
name1 = {'muthu','kumar','rama'}
name2 = {'rama','siva','arul'}

print(name1 - name2)

{'muthu', 'kumar'}

In [ ]:
print(name2 - name1)

{'siva', 'arul'}

In [ ]:
print(name1 | name2) #union

{'muthu', 'siva', 'kumar', 'rama', 'arul'}

In [ ]:
print(name1 & name2) #intersection

{'rama'}

In [ ]:
print(name1 ^ name2)

{'siva', 'muthu', 'kumar', 'arul'}

In [ ]:
values = {'nirai','mathi','arul','amuthan',6,4.5,True}
for i in values:
  #if isinstance(i, int):
  if type(i) is int:
    print(i)

6

In [ ]:
#frozenset is immutable
values = {'nirai','mathi','arul','amuthan',6,4.5,True}
f = frozenset(values)
type(f)

frozenset

In [ ]:
#dict
#dict has key and value(key value pair)
#key must be in immutable datatypes(str,num,tuple),value may have mutable and immutable
#indexing by key,coz no duplicate
results = {'muthu': 80, 'kathir': 85}
results

{'muthu': 80, 'kathir': 85}

In [ ]:
results['muthu'] = 90
results

{'muthu': 90, 'kathir': 85}

In [ ]:
results['kavin'] = 93
results

{'muthu': 90, 'kathir': 85, 'kavin': 93}

In [ ]:
del results['kavin']
results

{'muthu': 90, 'kathir': 85}

In [ ]:
list(results) #type casting of compound datatypes

['muthu', 'kathir']

In [ ]:
set(results)

{'kathir', 'muthu'}

In [ ]:
tuple(results)

('muthu', 'kathir')

In [ ]:
results.keys()

dict_keys(['muthu', 'kathir'])

In [ ]:
results.values()

dict_values([90, 85])

In [ ]:
[*results.values()]

[90, 85]

In [ ]:
[*results.keys()]

['muthu', 'kathir']

In [ ]:
details = {'name': 'Mukil', 'age': 22}

In [ ]:
details.get('age') #get func pass only one key

22

In [ ]:
details.popitem() #remove last pair

('age', 22)

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'}

In [ ]:
print(details.pop('city')) #remove any key and values

tirunelveli

In [ ]:
details

{'name': 'Mukil', 'age': 22, 'state': 'tamil nadu'}

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
for key in details:
   print(key)
type(key)

name
age
city
state

str

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
for values in details.values():
   print(values)
type(values)

Mukil
22
tirunelveli
tamil nadu

str

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
for key in details:
   #print(key)
   print(key,'-->',details[key])
type(key)

name --> Mukil
age --> 22
city --> tirunelveli
state --> tamil nadu

str

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
for item in details.items(): #items func in dict
   print(item)
type(item)

('name', 'Mukil')
('age', 22)
('city', 'tirunelveli')
('state', 'tamil nadu')

tuple

In [ ]:
details={'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
for key,value in details.items():
   print(key,':', type(key))
   print(value,':', type(value))

name : <class 'str'>
Mukil : <class 'str'>
age : <class 'str'>
22 : <class 'int'>
city : <class 'str'>
tirunelveli : <class 'str'>
state : <class 'str'>
tamil nadu : <class 'str'>

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
print('age' in details.keys())

True

In [ ]:
details = {'name': 'Mukil', 'age': 22, 'city':'tirunelveli','state':'tamil nadu'} 
print(22 in details.values())

True

In [ ]:
fruits_dict = {'apple': 100, 'banana': 40,'orange': 60, 'papaya': 30} 
for nameKey, priceValue in fruits_dict.items():
   fruits_dict[nameKey] = round(priceValue * 1.1, 2)
print(fruits_dict)

{'apple': 110.0, 'banana': 44.0, 'orange': 66.0, 'papaya': 33.0}

In [ ]:
fruits = list(fruits_dict.keys()) 
for name in fruits:
   print(name)

apple
banana
orange
papaya

In [ ]:
for key in list(fruits_dict.keys()):
  if key=='apple':
    del fruits_dict[key]
print(fruits_dict)

{'banana': 44.0, 'orange': 66.0, 'papaya': 33.0}

In [ ]:
employees = {'kathir':101, 'kavin':105, 'arul':103, 'viyan': 104,'kathir':201 } 
new_employees={} #empty dictionary 
for key, value in employees.items():
   new_employees[value] = key
print(new_employees)

{201: 'kathir', 105: 'kavin', 103: 'arul', 104: 'viyan'}

In [ ]:
employees = {'kavin':2000, 'arul':3000, 'viyin': 1700,'kathir':2010 } 
new_employees={} #new dictionary 
for key, value in employees.items():
   if value >= 1800:
      new_employees[key] = value
new_employees

{'kavin': 2000, 'arul': 3000, 'kathir': 2010}

In [ ]:
employees = {'kathir':1000, 'mathi':2000, 'arul':3000, 'viyan': 1800,'kathir':2010 } 
for key in sorted(employees):
   print(key, ':', employees[key])

arul : 3000
kathir : 2010
mathi : 2000
viyan : 1800

In [ ]:
employees = {'kathir':1000, 'mathi':2000, 'arul':3000, 'viyan': 1800,'kathir':2010 }
for value in sorted(employees.values()):
 print(value)

1800
2000
2010
3000

In [ ]:
employees = {'kathir':1000, 'mathi':2000, 'arul':3000, 'viyan': 1800,'kathir':2010}
total_income = 0 
for key in sorted(employees):
   print(key, ':', employees[key])
   total_income += employees[key]
print(total_income)

arul : 3000
kathir : 2010
mathi : 2000
viyan : 1800
8810

In [ ]:
r= range(10) 
print(type(r)) 
for i in r:
   print(i)

<class 'range'>
0
1
2
3
4
5
6
7
8
9

In [ ]:
r = range(5,20) 
for i in r:
   print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [ ]:
r = range(20,5,-2) 
for i in r:
   print(i, end=' ')

20 18 16 14 12 10 8 6

In [ ]:
r = range(5,20,2)  
print(r[0]) 
print(r[2:5]) 
print(r[-1])

5
range(9, 15, 2)
19

In [ ]:
#bytes(binary digits)
#0 to 255
#indexing
#slicing
#immutable

In [ ]:
values = [10,20,30,40]
b = bytes(values) 
print(type(b)) 
for i in b:
   print(i, end=' ')

<class 'bytes'>
10 20 30 40

In [ ]:
#mutable byte is known as bytearray
ba = bytearray(values) 
print(ba[0]) 
ba[0] = 56
print(ba[0])

10
56

In [ ]:
name = 'sedhu'
name.capitalize()

'Sedhu'

In [ ]:
name = 'sedHu'
name.casefold() #lower()

'sedhu'

In [ ]:
name = 'sedhu'
name.center(13, '*')

'****sedhu****'

In [ ]:
sentence = 'learning python is funny. is it correct?'
word = 'is'
sentence.count(word)

2

In [ ]:
sentence = 'learning python is funny. is it correct?'
sentence.endswith('?')

True

In [ ]:
sentence = 'learning python is funny. is it correct?'
sentence.expandtabs(3)

'learning python is funny. is it correct?'

In [ ]:
#python doesnt have constants

In [ ]:
repeat = 'yes'
print('basic calculator')

while repeat == 'yes':
  num1 = float(input('Enter the first num: '))
  operator = input('''enter your choice
                    + --> addition,
                    - --> subtraction,
                    * --> multiplication,
                    / --> division,
                    // --> floor division,
                    % --> modules,
                    ** --> power operator ''')
  num2 = float(input('enter the second num: '))
  if operator == '+':
    answer = num1 + num2
    print(num1,'+',num2,'=',answer)
  elif operator == '-':
    answer = num1 - num2
    print(num1,'-',num2,'=',answer)
  elif operator == '*':
    answer = num1 * num2
    print(num1,'*',num2,'=',answer)
  elif operator == '/':
    answer = num1 / num2
    print(num1,'/',num2,'=',answer)
  elif operator == '//':
    answer = num1 // num2
    print(num1,'//',num2,'=',answer)
  elif operator == '%':
    answer = num1 % num2
    print(num1,'%',num2,'=',answer)
  elif operator == '**':
    answer = num1 ** num2
    print(num1,'**',num2,'=',answer)
  else:
    print('invalid,please enter valid operator')
  y_or_n = input('enter "yes" for another calculation: ').lower()
  repeat = y_or_n

  if repeat != 'yes':
    print('thank you')

basic calculator
Enter the first num: 2
enter your choice
                    + --> addition,
                    - --> subtraction,
                    * --> multiplication,
                    / --> division,
                    // --> floor division,
                    % --> modules,
                    ** --> power operator +
enter the second num: 2
2.0 + 2.0 = 4.0
enter "yes" for another calculation: yes
Enter the first num: 2
enter your choice
                    + --> addition,
                    - --> subtraction,
                    * --> multiplication,
                    / --> division,
                    // --> floor division,
                    % --> modules,
                    ** --> power operator *
enter the second num: 2
2.0 * 2.0 = 4.0
enter "yes" for another calculation: no
thank you

In [ ]:
#random dice roller
from random import randint
min = 1
max = 6

again = True
while again==True:
  print("Dice value now: ", randint(min, max)) 
  another_roll = input("Press 'yes' if you want to roll the dice again: ").lower()
  if another_roll.lower() == 'yes':
     again = True 
  else:
     again = False

Dice value now:  3
Press 'yes' if you want to roll the dice again yes
Dice value now:  3
Press 'yes' if you want to roll the dice again yes
Dice value now:  5
Press 'yes' if you want to roll the dice again no

In [ ]:
items = [15, 8, 1, 10, 13] #list 
print("list of items: ", items) 
searchingNo = int(input("enter item to search:")) #15
i = flag = 0
while i < len(items):
  if items[i]==searchingNo:
    flag = 1
    break
  i+=1
if flag == 1:
  print('item found at position: ',i + 1)
else:
  print('item not found')

list of items:  [15, 8, 1, 10, 13]
enter item to search:1
item found at position:  3

In [6]:
from random import randint
choices = ['saa','boo','three']
computer = choices[randint(0,2)]
player = 'yes'
while player == 'yes':
  player = input("saa,boo,three?")
  if player == computer:
    print('tie!')
  elif player == 'saa':
    if computer == 'boo':
      print('you lose!', computer,'won',player)
    else:
      print('you win!',player,'won',computer)
  elif player == 'boo':
    if computer =='three':
      print('you lose!',computer,'won',player)
    else:
      print('great! you win',player,'won',computer)
  elif player =='three':
    if computer == 'saa':
      print('you lose...',computer,'won',player)
    else:
      print('you win!',player,'won',computer)
  else:
    print('please check your spelling!')  
  looping = input('print yes to play again: ').lower()
  player = looping
  computer = choices[randint(0,2)]

saa,boo,three?saa
tie!
print yes to play again: yes
saa,boo,three?three
you lose... saa won three
print yes to play again: yes
saa,boo,three?three
you win! three won boo
print yes to play again: no

In [ ]:
#student mark report
#how many student
studentcount = int(input('enter the number of student: '))
report = {}
subjects = ('tamil','englsh','maths','science','social')
for student in range(studentcount):
  name = input('enter the name of the student %d: ' %(student + 1))
  marks = []
  for subject in subjects:
    marks.append(int(input('enter marks of %s: ' %subject)))
  report[name] = marks
print('------------------------')  
for name, marks in report.items():  
  total = sum(marks)
  print("%s 's total marks %d" % (name,total))
  if total < 120:
    print('%s failed :(' % name)
  else:
    print('%s passed :)' % name)

enter the number of student: 2
enter the name of the student 1: sedhu
enter marks of tamil: 55
enter marks of englsh: 66
enter marks of maths: 77
enter marks of science: 88
enter marks of social: 99
enter the name of the student 2: vicky
enter marks of tamil: 66
enter marks of englsh: 77
enter marks of maths: 88
enter marks of science: 99
enter marks of social: 100
sedhu 's total marks 385
sedhu passed :)
vicky 's total marks 430
vicky passed :)

In [ ]:
#binary search
arr = [1,10,20,30,40,50]
x = 12
start = 0
end = len(arr)-1        
while end >= start:     
  mid = start + (end - start)//2  
  if arr[mid] == x:               
    result = mid
    break
  elif arr[mid] > x:              
    end = mid-1
  else:                           
    start = mid+1  
else:
  result = -1

if result != -1:
  print('element is presnt at index',result)
else:
  print('element is not present in array')

element is not present in array

In [ ]:
#hangman game
name = input('enter your name: ')
print('hi',name,',welcome')
word = 'python'
guesses = ''
attemps = 10
while attemps>0:
  lose = 0
  for letter in word:
    if letter in guesses:
      print(letter, end=' ')
    else:
      print('_',end=' ')
      lose+=1

  if lose == 0:
    print('\nvictory!')
    break
  print()
  guess = input('guess any word!')
  guesses += guess

  if guess not in word:
    attemps -=1
    print('wrong, ')
    print('you have ',attemps,' more chance')
    if attemps == 0:
      print('just miss')

enter your name: sedhu
hi sedhu ,welcome
_ _ _ _ _ _
guess any word!q
wrong,
you have  9  more chance
_ _ _ _ _ _
guess any word!p
p _ _ _ _ _
guess any word!y
p y _ _ _ _
guess any word!t
p y t _ _ _
guess any word!h
p y t h _ _
guess any word!o
p y t h o _
guess any word!n
p y t h o n
victory!

In [ ]:
#bubble sort
arr = [2,18,16,11,7,4,6] 
n = len(arr)-1 #6 

for j in range(n):
  print("Before for loop ", arr) 
  for i in range(n):
    print('inside for loop',arr)
    if arr[i]>arr[i+1]:
      arr[i],arr[i+1] = arr[i+1],arr[i]
  print('after for loop',arr)
  n-=1
print(arr)  
#insertion sort,selection sort

Before for loop  [2, 18, 16, 11, 7, 4, 6]
inside for loop [2, 18, 16, 11, 7, 4, 6]
inside for loop [2, 18, 16, 11, 7, 4, 6]
inside for loop [2, 16, 18, 11, 7, 4, 6]
inside for loop [2, 16, 11, 18, 7, 4, 6]
inside for loop [2, 16, 11, 7, 18, 4, 6]
inside for loop [2, 16, 11, 7, 4, 18, 6]
after for loop [2, 16, 11, 7, 4, 6, 18]
Before for loop  [2, 16, 11, 7, 4, 6, 18]
inside for loop [2, 16, 11, 7, 4, 6, 18]
inside for loop [2, 16, 11, 7, 4, 6, 18]
inside for loop [2, 11, 16, 7, 4, 6, 18]
inside for loop [2, 11, 7, 16, 4, 6, 18]
inside for loop [2, 11, 7, 4, 16, 6, 18]
after for loop [2, 11, 7, 4, 6, 16, 18]
Before for loop  [2, 11, 7, 4, 6, 16, 18]
inside for loop [2, 11, 7, 4, 6, 16, 18]
inside for loop [2, 11, 7, 4, 6, 16, 18]
inside for loop [2, 7, 11, 4, 6, 16, 18]
inside for loop [2, 7, 4, 11, 6, 16, 18]
after for loop [2, 7, 4, 6, 11, 16, 18]
Before for loop  [2, 7, 4, 6, 11, 16, 18]
inside for loop [2, 7, 4, 6, 11, 16, 18]
inside for loop [2, 7, 4, 6, 11, 16, 18]
inside for loop [2, 4, 7, 6, 11, 16, 18]
after for loop [2, 4, 6, 7, 11, 16, 18]
Before for loop  [2, 4, 6, 7, 11, 16, 18]
inside for loop [2, 4, 6, 7, 11, 16, 18]
inside for loop [2, 4, 6, 7, 11, 16, 18]
after for loop [2, 4, 6, 7, 11, 16, 18]
Before for loop  [2, 4, 6, 7, 11, 16, 18]
inside for loop [2, 4, 6, 7, 11, 16, 18]
after for loop [2, 4, 6, 7, 11, 16, 18]
[2, 4, 6, 7, 11, 16, 18]

In [ ]:
def sum(num1, num2):
  return num1 + num2
results = sum(5,10)
print(results)

15

In [ ]:
def palindrome(word):
   return word == word[::-1] 
word = input("enter any word: ")
if palindrome(word):
  print('its a palindrome')
else:
  print('not a palindrome')

enter any word: madam
palindrome

In [ ]:
def change(amt):
  amt = 2000
  print('change needed for',amt)
amt = 10000
print('to be spend',amt)
change(amt)
print('after getteing change',amt)

to be spend 10000
change needed for 2000
after getteing change 10000

In [ ]:
price = 10 
def calculate():
   global price 
   price = price+2 
print(price) 
calculate() 
print(price)

10
12

In [ ]:
x = 8 
def loc():
   x = 7
   print("local x value ", x) 
   
loc() 
print("global x value ",x )

local x value  7
global x value  8

In [ ]:
#default argument
def find_discount(mrp,perc=10):
  discount = mrp * (perc/100) 
  arp = mrp - discount 
  print(arp) 
find_discount(100) 
find_discount(100,25)

90.0
75.0

In [ ]:
def tellMeyourname(*names):
   for name in names:
      print(name) 
tellMeyourname('muthu','kumar','kathir','tamil')

muthu
kumar
kathir
tamil

In [ ]:
#variable argument
def mrp(*amount):
  for price in amount:
    print(price)
mrp(100,90) 
mrp(100,90,5)

100
90
100
90
5

In [ ]:
def mrp(sellingprice,buyingprice,**tax):
  print(sellingprice)
  print(buyingprice)
  for key, value in tax.items():
    print(key, type(key))
    print(value, type(value))
mrp(100,90,sgst=5,cgst=5)

100
90
sgst <class 'str'>
5 <class 'int'>
cgst <class 'str'>
5 <class 'int'>

In [ ]:
#composition in function
def tellMeNumber():
   return 5 
print(tellMeNumber())

5

In [ ]:
def tellMeNumber(n):
   return n 
print(tellMeNumber(50))

50

In [ ]:
import math
no1 = 34.6 
no2 = -34.6 
no3 = 34.5 
no4 = 34.2 
print(math.floor(no1)) 
print(math.floor(no2)) 
print(math.floor(no3)) 
print(math.floor(no4))

34
-35
34
34

In [ ]:
import math 
no1 = 34.6 
no2 = -34.6 
no3 = 34.5 
no4 = 34.2 
print(math.ceil(no1)) 
print(math.ceil(no2)) 
print(math.ceil(no3)) 
print(math.ceil(no4))

35
-34
35
35

In [ ]:
import math 
no1 = 30 
#no2 = -34.6 
no3 = 25 
no4 = 65 
print(math.sqrt(no1)) 
#print(math.sqrt(no2)) 
print(math.sqrt(no3)) 
print(math.sqrt(no4))

5.477225575051661
5.0
8.06225774829855

In [ ]:
#func - set of instuction with name    ,calling name,using return
#loop - set of few instuction without name  ,using break
#recursive function - calling a fuction from itself
def fact(n):                   
  if n ==0:
    return 1 
  else:
    return n * fact(n-1)      

print(fact(0))
print(fact(5))

1
120

In [ ]:
#file handing in python
#text file = .txt, .doc, .pdf
#binary files = images, videos, audios

In [ ]:
#format - file = open(filename, mode)
#file.close()
#textfile mode = r,w,a,r+,w+,a+,x
#binaryfile mode = rb,wb,ab,r+b,w+b,a+b,xb
#r = readmode, read operation, file pointer will be present at the beging of the file.file is not present--> file not found error, default mode
#w = writemode, write opeartion, existing content of the file will be overridden.file is not present-->this will create a new file
#a = append, opens an existing file, it wont override existing content, file is not present-->this will create a new file
#r+ = read and write data into the file. existing content will not get deleted.
#w+ = to the write and read from the file.it will ovwrride existing content
#a+ = to append and read from the file.
#x = exclusive operation-->if file is alrdy present ,it will through fileExistsError

In [ ]:
file = open(r'/content/credentials.txt','w')
print('file Name is ',file.name)
print('file mode is ',file.mode)
print('file property ',file.readable())
print('file property ',file.writable())
print('file is closed or not ',file.closed)
file.close()
print('file is closed or not ',file.closed)

file Name is  /content/credentials.txt
file mode is  w
file property  False
file property  True
file is closed or not  False
file is closed or not  True

In [ ]:
file = open(r'/content/credentials.txt','w')
file.write('sedhu\n')
file.write('is a\n')
file.write('nice guy\n')
file.close()

In [ ]:
file = open(r'/content/credentials.txt','a')
file.write('vicky\n')
file.write('is a\n')
file.write('nice guy\n')
list = ['vikram\n','vinai\n','vijay\n']
file.writelines(list)
file.close()

In [ ]:
file = open(r'/content/credentials.txt','r')
output = file.read()
print(output)
file.close()

sedhu
is a
nice guyvicky
is a
nice guy
vicky
is a
nice guy
vikram
vinai
vijay

In [ ]:
file = open(r'/content/credentials.txt','r')
output = file.read(5)
print(output)
file.close()

sedhu

In [ ]:
file = open(r'/content/credentials.txt','r')
output = file.readline()
print(output)
file.close()

sedhu

In [ ]:
file = open(r'/content/credentials.txt','r')
output = file.readlines()
print(type(output))
print(output)
words = str(output)
print(type(words))
file.close()

<class 'list'>
['sedhu\n', 'is a\n', 'nice guyvicky\n', 'is a\n', 'nice guy\n', 'vicky\n', 'is a\n', 'nice guy\n', 'vikram\n', 'vinai\n', 'vijay\n']
<class 'str'>

In [ ]:
file = open(r'/content/credentials.txt','r')
words = file.readlines()
info = ' '.join(words)
print(info)
file.close()

sedhu
 is a
 nice guyvicky
 is a
 nice guy
 vicky
 is a
 nice guy
 vikram
 vinai
 vijay

In [ ]:
#tell() func to check the curser position
#seek() func 
with open(r'/content/credentials.txt','r')as file:
  words = file.readlines()
  info = ' '.join(words)
  print(info)
  file.close()

sedhu
 is a
 nice guyvicky
 is a
 nice guy
 vicky
 is a
 nice guy
 vikram
 vinai
 vijay

In [ ]:
import os
filename = input('enter the filename')
if os.path.isfile(filename):
  print('yes, present')
  print()
  f = open(filename, 'r')
  output = f.read()
  print(output)
  f.close()
else:
  print('no, not present')

enter the filename/content/credentials.txt
yes, present
sedhu
is a
nice guyvicky
is a
nice guy
vicky
is a
nice guy
vikram
vinai
vijay

In [ ]:
file1 = open(r'/content/credentials.jpeg','rb')
file2 = open(r'/content/credentials.jpeg','wb')
data = file1.read()
file2.write(data)
file1.close()
file2.close()

In [ ]:
import csv
with open('students.csv','w') as f:
  w = csv.writer(f)
  w.writerow(['name','no','percentage','address'])
  while True:
    name = input('enter name ')
    no = int(input('enter no '))
    percentage = int(input('enter percentage '))
    address = input('enter address ')
    w.writerow([name,no,percentage,address])
    option = input('continue? YES | NO ')
    if option.lower() == 'no':
      break

enter name sedhu
enter no 7
enter percentage 90
enter address spkovil
continue? YES | NO yes
enter name vicky
enter no 8
enter percentage 72
enter address mmnagar
continue? YES | NO yes
enter name sarath
enter no 9
enter percentage 88
enter address spkovil
continue? YES | NO no

In [ ]:
import csv
f = open('students.csv','r')
w = csv.writer(f)
r = csv.reader(f)
print(r)
data = list(r)
#print(data)
for row in data:
  print(row)

<_csv.reader object at 0x7fb037240d60>
['name', 'no', 'percentage', 'address']
['sedhu', '7', '90', 'spkovil']
['vicky', '8', '72', 'mmnagar']
['sarath', '9', '88', 'spkovil']

In [ ]:
#object - real time entitiy, state(sturcture) and behaviour(usage)

In [ ]:
#class is a template or blueprint where we are keeping all the function and data members inside

In [ ]:
try:
  print(10/0)
except ZeroDivisionError as msg:
  print(type(msg))

<class 'ZeroDivisionError'>

In [ ]:
try:
  print(10/0)
except ZeroDivisionError:
  print(100/5)

20.0

In [ ]:
file = open(r"/content/pincodes.txt") 
#print(file.readline(),end='')
for eachline in file:
  print(eachline, end='')
file.close()

Chennai - 600001
Ariyalur - 621001
Madurai - 625001
Tirunelveli - 627001
Coimbatore - 641001
Kanyakumari - 629001
(Other States)
Hyderabad - 500001
Mumbai - 400001
Pune - 411001

In [ ]:
try:
  file = open(r"/content/pincodes.txt") 
  for each_line in file:
     (city, pincode) = each_line.split("-") 
     print('pincode of ', city, end='')
     print('is ', pincode,end='') 
  file.close()
except ValueError as msg:
  print(msg)

pincode of  Chennai is   600001
pincode of  Ariyalur is   621001
pincode of  Madurai is   625001
pincode of  Tirunelveli is   627001
pincode of  Coimbatore is   641001
pincode of  Kanyakumari is   629001
not enough values to unpack (expected 2, got 1)

In [ ]:
try:
 x = int(input("Enter no ")) 
 y = int(input("Enter no ")) 
 print(x/y) 
except (ZeroDivisionError, ValueError) as msg:
   print(msg)

Enter no 8
Enter no 0
division by zero

In [ ]:
try:
 x = int(input("Enter no ")) 
 y = int(input("Enter no ")) 
 print(x/y) 
except (ZeroDivisionError, ValueError) as msg:
   print(msg)

Enter no 8
Enter no zero
invalid literal for int() with base 10: 'zero'

In [ ]:
def get_num():
  number = int(input('enter pin number: '))
  return number

while True:
  try:
    print(get_num())
    option = input('continue? YES | NO: ')
    if option.lower() == 'no':
      break
  except:
    print('please enter valid PIN no.')

enter pin number: 1234
1234
continue? YES | NO: yes
enter pin number: 1234
1234
continue? YES | NO: no

In [ ]:
try:
  file = open(r"/content/pincodes.txt") 
  for each_line in file:
     try:
       (city, pincode) = each_line.split("-") 
       print('pincode of ', city, end='')
       print('is ', pincode,end='') 
     except ValueError:
       print('please check split')
  file.close()
except:
  print('please check file location')

pincode of  Chennai is   600001
pincode of  Ariyalur is   621001
pincode of  Madurai is   625001
pincode of  Tirunelveli is   627001
pincode of  Coimbatore is   641001
pincode of  Kanyakumari is   629001
please check split
pincode of  Hyderabad is   500001
pincode of  Mumbai is   400001
pincode of  Pune is   411001

In [ ]:
#default except should be at last
try:
   x = int(input("Enter no ")) 
   y = int(input("Enter no ")) #0, ten 
   print(x/y) 
except ZeroDivisionError:
   print("Please check y value ")
except ValueError:
   print("Please enter valid number") 
except:
   print("Something went wrong")

Enter no 5
Enter no 10
0.5

In [ ]:
#finally executes always
try:
   x = int(input("Enter no ")) 
   y = int(input("Enter no ")) #0, ten 
   print(x/y) 
except ZeroDivisionError:
   print("Please check y value ")
finally:
  print('check')

Enter no 10
Enter no 5
2.0